# Entorno virtual de Python
venv/
.venv/ # Por si usas otro nombre para el entorno virtual

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de Streamlit
.streamlit

# Ignorar archivos de macOS si usas
.DS_Store

# Ignorar archivos específicos de VS Code
.vscode/